.Header {
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-public-height);
  padding: 0 var(--main-indents);
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: inherit;
  box-shadow: 0 0 11px var(--foreground);
}

.Logo {
  width: 100px;
  height: 50px;
  display: inline-flex;
}

.NavOpener path:nth-child(1),
.NavOpener path:nth-child(3) {
  --total-length: 126.64183044433594;
}
.NavOpener path:nth-child(2) {
  --total-length: 70;
}

.NavOpener path:nth-child(1),
.NavOpener path:nth-child(2),
.NavOpener path:nth-child(3) {
  --length: 24;
  --offset: -38;
  fill: none;
  stroke: var(--foreground);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
  transition: all .8s cubic-bezier(.645, .045, .355, 1);
}

.NavOpener {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
  border-color: transparent;
  z-index: 2;
  position: relative;
}

.NavOpener:hover {
  border-color: transparent;
  box-shadow: none;
}

.NavOpener svg {
  min-width: 50px;
  min-height: 50px;
}

.NavOpener.IsOpened path:nth-child(1),
.NavOpener.IsOpened path:nth-child(3) {
  --length: 22.627416998;
  --offset: -94.1149185097;
}
.NavOpener.IsOpened path:nth-child(2) {
  --length: 0;
  --offset: -50;
}

.NavList {
  --secondary-color: var(--main-color);
  margin: 0;
  gap: 30px;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  display: flex;
  position: fixed;
  width: 100vw;
  background: var(--background);
  right: 0;
  bottom: 0;
  z-index: 1;
  top: 0;
  flex-direction: column;
  align-items: center;
  padding: var(--header-public-height) 20px 0;
}

@media (min-width: 768px) {
  .NavList {
    width: 300px;
  }
}

.NavLink {
  --icon-color: currentColor;
}

.NavLink:hover {
  --icon-color: initial;
  opacity: 1;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
